* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
}

.tablet-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .tablet-container {
    min-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .tablet-container {
    min-width: 768px;
  }
}

.navigation {
  display: none;
}

.button-buy {
  display: none;
}

@media screen and (min-width: 320px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 6px;
  }
}

@media screen and (min-width: 768px) {
  .header__image {
    margin-top: 5px;
  }
}

@media screen and (min-width: 320px) {
  .ham {
    z-index: 100;
    right: 1rem;
    height: 3rem;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .ham {
    margin-right: 224px;
  }
}

.xIcon {
  display: none;
  fill: black;
  color: black;
}

@media screen and (min-width: 320px) {
  .menu {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #e17992;
    color: white;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    list-style: none;
    padding-top: 4rem;
  }
}

.menu__link {
  display: inline;
  color: white;
  text-decoration: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.menu__link:hover {
  color: #d41443;
}

.menu__item {
  padding: 22px 0;
}

.menu__button {
  width: 100%;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  border-color: transparent;
}

@media screen and (min-width: 320px) {
  .ham-container {
    padding-left: 21px;
    padding-right: 21px;
    margin-left: auto;
    margin-right: auto;
  }
}

.showMenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 320px) {
  .main-page-background {
    background-color: #ffb8ca;
    min-height: 502px;
  }
}

@media screen and (min-width: 320px) {
  .mobile-circle {
    overflow: hidden;
    max-width: 345px;
    margin-left: 36px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-circle {
    margin-left: 307px;
    overflow: visible;
  }
}

@media screen and (min-width: 320px) {
  .mobile-circle__element {
    position: absolute;
  }
}

@media screen and (min-width: 320px) {
  .ice-cream-mobile {
    width: 171px;
    height: 410px;
    position: relative;
    z-index: 3;
    left: 117px;
    bottom: 311px;
  }
}

@media screen and (min-width: 768px) {
  .ice-cream-mobile {
    left: 378px;
  }
}

@media screen and (min-width: 320px) {
  header {
    background-color: #ffb8ca;
    min-width: 320px;
  }
}

@media screen and (min-width: 320px) {
  .page-hero {
    background-color: #ffb8ca;
    min-width: 320px;
    height: 446px;
  }
}

.mobile-slogan {
  position: relative;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .mobile-slogan {
    bottom: 745px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-slogan {
    top: -622px;
  }
}

@media screen and (min-width: 320px) {
  .mobile-slogan__text {
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #ffffff;
  }
}

@media screen and (min-width: 320px) {
  .mobile-slogan__item {
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #d41443;
  }
}

@media screen and (min-width: 768px) {
  .mobile-slogan__item {
    font-size: 37px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main-button {
    position: absolute;
    top: 318px;
    z-index: 4;
  }
}

@media screen and (min-width: 768px) {
  .main-button {
    position: absolute;
    top: 210px;
  }
}

.main-button__item:first-child {
  position: relative;
}

@media screen and (min-width: 320px) {
  .main-button__item:first-child {
    background: #d41443;
    border-radius: 20px;
    width: 62.4px;
    height: 24px;
    font-size: 8px;
    border: none;
    color: white;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
  }
}

.main-button__item:last-child {
  position: relative;
}

@media screen and (min-width: 320px) {
  .main-button__item:last-child {
    background: #ffffff;
    border-radius: 20px;
    width: 82.8px;
    height: 24px;
    font-size: 8px;
    border: none;
    color: #d41443;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
  }
}
/*# sourceMappingURL=main.css.map */