* {
  box-sizing: border-box;
}
// .section-gallery .container {
//   display: flex;
//   justify-content: center;
//   @media screen and(max-width:480px) {
//     height: 122px;
//   }
//   @media screen and(min-width:768px) {
//     height: 264px;
//   }
//   @media screen and(min-width:1200px) {
//     height: 430px;
//   }
// }
// .section {
//   padding-top: 60px;
//   padding-bottom: 60px;
// }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
}

.tablet-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    min-width: 320px;
  }
  @media screen and (min-width: 768px) {
    min-width: 768px;
  }
}
.navigation {
  display: none;
}
.button-buy {
  display: none;
}
.header {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 6px;
  }

  &__image {
    @media screen and (min-width: 768px) {
      margin-top: 37px;
    }
  }
}

// -------------------------------------------hamburger------------------------------------
// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------
.ham {
  @media screen and (min-width: 320px) {
    // position: fixed;

    // padding-right: 20px;
    z-index: 100;
    // top: 1rem;
    right: 1rem;
    // width: 3rem;
    height: 3rem;
    border: none;
    background: transparent;
    cursor: pointer;
  }
}

.xIcon {
  display: none;
  fill: black;
  color: black;
}

.menu {
  @media screen and (min-width: 320px) {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #e17992;
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding-top: 4rem;
  }

  &__link {
    display: inline;

    color: white;
    text-decoration: none;

    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
  }
  &__link:hover {
    color: #d41443;
  }

  &__item {
    padding: 22px 0;
  }

  &__button {
    width: 100%;
    height: 44px;

    background: #ffffff;
    border-radius: 22px;
    border-color: transparent;
  }
}
.ham-container {
  @media screen and (min-width: 320px) {
    padding-left: 21px;
    padding-right: 21px;
    margin-left: auto;
    margin-right: auto;
  }
}

.showMenu {
  transform: translateY(0);
}

// -------------------------------------------hamburger------------------------------------
// ----------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------

// ----------------------------------------------------------------------------------------
// -------------------------------------main-page------------------------------------------
// ----------------------------------------------------------------------------------------
.main-page-background {
  @media screen and (min-width: 320px) {
    background-color: #ffb8ca;
    min-height: 502px;
  }
}
.mobile-circle {
  @media screen and (min-width: 320px) {
    overflow: hidden;
    max-width: 345px;

    margin-left: 36px;
  }

  &__element {
    @media screen and (min-width: 320px) {
      position: absolute;
    }
  }
}
// ----------------------------------------------------------------------------------------
// -------------------------------------main-page------------------------------------------
// ----------------------------------------------------------------------------------------
.ice-cream-mobile {
  @media screen and (min-width: 320px) {
    width: 171px;
    height: 410px;
    position: relative;
    z-index: 3;
    left: 117px;
    bottom: 311px;
  }
}
header {
  @media screen and (min-width: 320px) {
    background-color: #ffb8ca;
    min-width: 320px;
  }
}
.page-hero {
  @media screen and (min-width: 320px) {
    background-color: #ffb8ca;
    min-width: 320px;
    height: 446px;
  }
}
.mobile-slogan {
  position: relative;
  z-index: 3;

  @media screen and (min-width: 768px) {
    bottom: 745px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    top: -622px;
  }
  &__text {
    @media screen and (min-width: 320px) {
      font-family: Titan One;
      font-style: normal;
      font-weight: 400;
      font-size: 26px;

      color: #ffffff;
    }
  }
  &__item {
    @media screen and (min-width: 320px) {
      font-family: Titan One;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;

      color: #d41443;
    }
  }
}
.main-button {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    position: absolute;
    top: 318px;
    z-index: 4;
  }

  &__item:first-child {
    position: relative;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      background: #d41443;
      border-radius: 20px;

      width: 62.4px;
      height: 24px;
      font-size: 8px;
      border: none;
      color: white;
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
    }
  }

  &__item:last-child {
    position: relative;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      background: #ffffff;
      border-radius: 20px;

      width: 82.8px;
      height: 24px;
      font-size: 8px;
      border: none;
      color: #d41443;
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
    }
  }
}
