:root {
  --background-white-color: #e5e5e5;
  --background-pink-color: #fff5f6;
  --hero-header-background-color: #ffb8ca;
  --main-color: #d41443;
  --accent-color: #ffa5ba;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --grey-text-color: #907e82;
  --open-menu-pseudoelement-color: #e18298;
  --slider-background-color: #fafafa;
  --grey-svg-color: #e1e1e1;
}
